<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Test Index</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
    function makeSocket() {
        var socket = new WebSocket('ws://'+location.host+':8000','arraybuffer');
        socket.binaryType = "arraybuffer";
        socket.addEventListener('open', function() {
            console.log('connected');
            $( "#slider" ).slider( "enable" );
        });
        socket.addEventListener('close', function(err) {
            console.log('closed:', err);
        });
        socket.addEventListener('message', function(msg) {
            if (msg.data instanceof ArrayBuffer) {
                var a = new Uint8Array(msg.data);
                console.log(a);
            }
            $( "#slider" ).slider( "enable" );
        });
        socket.addEventListener('error', function(err) {
            console.log('error:', err);
        });
        return socket;
    }
    function ready(fn) {
        if (document.readyState != 'loading') {
            fn();
        } else {
            document.addEventListener('DOMContentLoaded', fn);
        }
    }
    ready(function() {
        var socket = makeSocket();
        $( "#slider" ).slider({
            min: 0,
            max: 10,
            step: 1,
            disabled: true,
            change: function( event, ui ) {
                $( "#slider" ).slider( "disable" );
                var value = $( "#slider" ).slider( "value" );
                console.log('sending: ', value);
                socket.send(value);
            }
        });
    });
</script>
<style>
    #canvas {
        width: 400px;
        height: 300px;
        border: solid;
    }
</style>
</head>
<body>
    <h1>It works!</h1>
    <p>Check your browser development tools and confirm websocket connection too!</p>
    <div id="slider"></div>
    <canvas id="canvas"></canvas>
</body>
</html>
